[submodule "viewflow"]
	path = viewflow
	url = git@github.com:kmmbvnr/viewflow-pro.git
	branch = docs
[submodule "django-material"]
	path = django-material
	url = git@github.com:viewflow/django-material.git
